* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.score,
.welcome,
.logout {
  justify-content: space-between;
  padding: 10px 30px;
  font-size: 23px;
}

.logout {
  float: right;
}

.score span {
  color: rgb(206, 121, 11);
  font-size: 30px;
}

.form-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.670);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.form {
  display: none;
  position: relative;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  background: white;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 10px;
  border-radius: 5px;
  z-index: 4;
}

.form h2 {
  margin: 0 0 20px;
  line-height: 1;
  color: #44c4e7;
  font-size: 18px;
  font-weight: 400;
}

.form input {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 1.2em;
}

.form input:focus {
  color: #333;
  border: 1px solid #44c4e7;
}

.model-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.670);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.model {
  display: none;
  position: relative;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  background: white;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 10px;
  border-radius: 5px;
}

.form h2,
.winner {
  font-size: 2em;
  font-family: "Anton", sans-serif;
  color: #4d4d4d;
}

.formButton,
.restart {
  font-family: "Anton", sans-serif;
  margin: 30px auto;
  padding: 10px 20px;
  display: block;
  font-size: 30px;
  border: none;
  background: #4d4d4d;
  background: linear-gradient(#4d4d4d, #222);
  border: 1px solid #222;
  border-radius: 5px;
  color: white;
  text-shadow: 0px 1px 0 black;
  cursor: pointer;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #cc1c1c;
  backface-visibility: hidden;
}

img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 5px;

}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .3);

  transform: scale(1);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}